<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        margin-left: 3.5%;
        margin-right: 3.5%;
        
    } 
    p{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    </style>
</head>
<body>
    <h1 style="text-align: center;">Financial Inclusion</h1>
    <div>
        <section class="section">
        <p style="font-style: inherit;font-size:18px;">Financial Inclusion is described as the method of offering banking and financial solutions and services to every individual 
            in the society without any form of discrimination.Financial inclusion wants everybody in the society to be involved and participate in financial management judiciously. There are many poor households in India that do 
            not have any access to financial services in the country. They are not aware of banks and their functions. Even if they are aware of banks, many of the poor people do not have the access to get services from banks.</p>
        <h2>Objectives of Financial Inclusion</h2>
            <ul style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <li> Financial inclusion intends to help people secure financial services and products at economical prices such as deposits, fund transfer services, loans, insurance, payment services, etc. </li>
                <li> It aims to establish proper financial institutions to cater to the needs of the poor people. These institutions should have clear-cut regulations and should maintain high standards that are existent in the financial industry. </li>
                <li> The process of financial inclusion works towards creating financial products that are suitable for the less fortunate people of the society. </li>
                <li> It also intends to bring in mobile banking or financial services in order to reach the poorest people living in extremely remote areas of the country. </li>
                <li> There are many governmental agencies and non-governmental organisations that are dedicated to bringing in financial inclusion. These agencies are focussed on improving the access to receiving government-approved documents. Many poor people are unable to open bank accounts or apply for a loan as they do not have any identity proof. There are so many people who live in rural areas or tribal villages who do not have knowledge about documents such as PAN, Aadhaar, Driver’s License, or Electoral ID. Hence, they cannot avail many of the services offered by governmental or private institutions. Due to lack of these documents, they are unable to avail any form of subsidies offered by the government that they are actually entitled to. </li>
                
            </ul>
        
     </section>   
    </div>
</body>
</html>
